page-about {
	.head{
		border-bottom:solid 1px #DDD;
		padding-bottom:20px;	
	}
	.judul{
	text-transform:uppercase;
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
		background: #f53d3d;
		padding: 8px;
		border: solid 1px #DDD;
	}

	.r-p{
		padding:10px 0px;
	}
}
