\<ion-header>
  <ion-navbar>
    <ion-title *ngFor="let item of ldata">
      {{item.menu.satu.nama}}
    </ion-title>

    <ion-buttons end *ngFor="let item of ldata">
      <button (click)="logout()" ion-button icon-only>
        <ion-icon name="exit"></ion-icon>
        {{item.system.keluar}}
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="head" text-center *ngFor="let item of ldata">
		<img style="height: 50px;" src="assets/imgs/tcel.png"/>
		<div class="judul">{{item.menu.satu.judul}}</div>
	</div>
	 <form [formGroup]="f" (ngSubmit)="inPaketData()" *ngFor="let item of ldata">
	<ion-item id="input" class="r-p">
		<ion-label floating>{{item.menu.satu.nomor}} :</ion-label>
		<ion-input type="number" formControlName="numeru"></ion-input>
	</ion-item>

		<ion-list>
			<ion-item class="r-p">
				<ion-label>{{item.menu.satu.paket_data}}</ion-label>
				<ion-select formControlName="data_package">
					<ion-option *ngFor="let i of items" value="{{i.profilename}},{{i.packagename}},{{i.amount}},{{i.quota}},{{i.validity}}">${{i.amount}} - {{i.packagename}} {{i.quota}}</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>
	<button ion-button  block type="submit" [disabled]="!f.valid">{{item.menu.satu.nama}}</button>
 	
 	</form>
</ion-content>
