page-login {
	
	.lpa-password{
		border-radius: 2px;
    text-align: center;
    color: #ffffff;
    background: #FF9800;
    padding: 5px;
	}
	.selectx{
		border: solid 1px #DDD;
	}

	#input{
		padding-left:0;
		padding:0;
		padding-bottom:10px;
	}

	.logo{
		text-align: center;
		border:0;
	}

	.logo img{
		margin-bottom: 10px;
	}

	.logo .subTxt{
		font-size:16px;
		text-transform:uppercase;
		background: #f54144;
		color: #FFF;
		padding: 5px;
		border-radius: 2px;
	}

	.p0{
		padding:0;
	}

	.m0{
		margin:0;
	}
}
