<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

	<ion-grid *ngFor="let item of ldata">
		<ion-row>
			<ion-col col-12 class="logo">
				<img src="assets/imgs/tcel.png"/>
				<div class="subTxt">{{item.judul}}</div>
			</ion-col>
			<ion-col col-12 >

				<ion-list>
					<ion-item class="selectx">
						<ion-label>Languages</ion-label>
						<ion-select [(ngModel)]="lang" (ionChange)="toLang()">
							<ion-option value="1">Tetun</ion-option>
							<ion-option value="3">Bahasa</ion-option>
							<ion-option value="2">English</ion-option>
						</ion-select>
					</ion-item>
				</ion-list>

				<form [formGroup]="f" (ngSubmit)="toLogin()">
					<ion-item padding id="input">
						<ion-label floating>{{item.login.nomor}}</ion-label>
						<ion-input type="number" formControlName="agent_number"></ion-input>
					</ion-item>

					<ion-item padding id="input">
						<ion-label floating>{{item.login.password}}</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
						<span></span>
					</ion-item>
					<button ion-button block type="submit" [disabled]="!f.valid">{{item.system.masuk}}</button>
				</form>

			</ion-col>
		<ion-col>
			<div class="lpa-password" (click)="forgotPassword()">Forgot Password ? </div>
		</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
