<!--
  Generated template for the AddChildPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <ion-title>Add Downline</ion-title>
    <ion-buttons end [navPush]="pushView">
        <button  ion-button icon-only>
          <ion-icon name="list-box"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <form [formGroup]="f" (ngSubmit)="toAddChild()" margin-top>
    
    <ion-item>
      <ion-label>Select Downline *</ion-label>
      <ion-select (ionChange)="selChild()" formControlName="child" >
        <ion-option value="2">Outlet</ion-option>
        <ion-option value="3">Cashier</ion-option>
      </ion-select>
    </ion-item>
    
    
    <ng-template [ngIf]="child == 2">
      <ion-item>
        <ion-label floating>Name *</ion-label>
        <ion-input type="text" formControlName="name"  placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>District</ion-label>
        <ion-select formControlName="district" (ionChange)="selDistrict()">
          <ion-option *ngFor="let d of district" value="{{d.id}}">{{d.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Sub District *</ion-label>
        <ion-select formControlName="sub_district">
          <ion-option *ngFor="let sd of subDistrict" value="{{sd.id}}">{{sd.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Address *</ion-label>
        <ion-textarea type="text" formControlName="address" placeholder="Address"></ion-textarea>
      </ion-item> 
      <!-- <ion-item>
        <ion-label floating>Sales Force</ion-label>
        <ion-select formControlName="sales_force">
          <ion-option *ngFor="let sf of salesForce" value="{{sf.id}}">{{sf.name}}</ion-option>
        </ion-select>
      </ion-item>   -->
      <ion-item>
        <ion-label floating>Contact Number </ion-label>
        <ion-input type="number" formControlName="contact_number" placeholder="Contact Number"></ion-input>
      </ion-item> 

      <ion-item>
        <ion-label floating>Agent Number *</ion-label>
        <ion-input type="number" maxlength="8" minlength="8" formControlName="master_number" placeholder="Agent Number"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
      </ion-item> 
      <button ion-button color="warning" type="button" margin-top (click)="getLocation()" block>Get Now Location</button> 
      <ion-item>
        <ion-label floating>Latitude</ion-label>
        <ion-input type="text" formControlName="lat" placeholder="Latitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Longitude</ion-label>
        <ion-input type="text" formControlName="lng"  placeholder="Longitude"></ion-input>
      </ion-item>
    </ng-template>
    
    <ng-template [ngIf]="child == 3">
      
      <ion-item>
        <ion-label floating>Name *</ion-label>
        <ion-input type="text" formControlName="name"  placeholder="Name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Contact Number </ion-label>
        <ion-input type="number" formControlName="contact_number" placeholder="Contact Number"></ion-input>
      </ion-item> 

      <ion-item>
        <ion-label floating>Agent Number *</ion-label>
        <ion-input type="number" formControlName="master_number" placeholder="Agent Number"></ion-input>
      </ion-item> 

      <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item> 
      
    </ng-template>
    
    <button margin-top margin-bottom ion-button [disabled]="!f.valid" type="submit" block> <ion-icon name="add-circle" style="padding-right:10px;"></ion-icon> Add</button>
  </form>
</ion-content>
