<ion-tabs  *ngFor="let item of ldata">
  <ion-tab [root]="tab1Root" tabTitle="{{item.menu.nol.nama}}" tabIcon="ios-phone-portrait-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{item.menu.satu.nama}}" tabIcon="globe"></ion-tab>
  <ion-tab  [root]="tab3Root" *ngIf="status==1" tabTitle="Balance Transfer" tabIcon="swap"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="{{item.menu.dua.nama}}" tabIcon="ios-cash-outline"></ion-tab>
  <ion-tab  *ngIf="status==1" tabTitle="Channel Dist" (ionSelect)="child()" tabIcon="ios-contacts"></ion-tab>
</ion-tabs>
