<!--
  Generated template for the ViewChildPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <ion-title>View Downline</ion-title>
    
    <ion-buttons end [navPush]="pushAdd">
      <button  ion-button icon-only>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
  
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let i of list" on-click="toEditChild(i.id)">
      <ion-avatar item-start>
        <img src="./assets/imgs/user.png">
      </ion-avatar>
      <h2>{{i.master_number}} - {{i.channel_name}}</h2>
      <p>{{i.channel_type}}</p>
    </ion-item>
  </ion-list>
</ion-content>
