@import url('https://fonts.googleapis.com/css?family=Raleway');

page-contact {
   .cekSaldo{
		padding:10px;
		font-family : "Raleway";
   }

   .m0{
   	margin:0;
   }

   .type{
     background: #ef2136;
     color: #FFF;
     padding: 10px;
     border-radius: 4px;
   }

   .historyTransaction {
    position: absolute;
    top: 74px;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
  }

  .bg{
   	 width:100%;
   	 min-height:100px;
   	 background:#ef2136;
   	 text-align:center;
   	  font-weight:bold;
   	  color:#FFF;
   }

   .bg .desc{
   	  font-size:11px;
   	  padding:8px;
   	  margin:0 ;
   	  background: #d01d30;
   }

   .bg .nominal{
   position:relative;
   top:10px;
   	font-size:2em;
   	 margin:0 ;
   }

   .list-ck{
   	border-bottom:solid 1px #DDD;
   }

   .list-ck .nma {
   	text-align:left;
   }

   .list-ck .jml{
   	text-align:right;
   	color:#888;
   }

   .list-ck .no{
   	color:#394237;
   	font-size:14px;
   	font-weight:bold;
   }

   .list-ck .txt{
   	color:green;
   	font-size:12px;
   }

   .list-ck .tgl{
   	font-size:10px;
   	color:#888;
   }

   .list-ck.title{
   	font-size:14px;
   	font-weight:bold;
   }

   

  .ion-card-img {
    position: relative;
    text-align: center;
  }

  .ion-card-costum{
   margin:0;
   width:100%;
  }

  
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
