<ion-header>
  <ion-navbar>
    <ion-title *ngFor="let item of ldata">
      {{item.menu.dua.nama}}
    </ion-title>

     <ion-buttons end *ngFor="let item of ldata">
      <button (click)="logout()" ion-button icon-only>
        <ion-icon name="exit"></ion-icon>
        {{item.system.keluar}}
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content class="cekSaldo">
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="bg" *ngFor="let item of ldata">
    <p class="desc">{{item.menu.dua.teks}}</p>
    <p class="nominal">${{ballance}} {{item.menu.dua.uang}}</p>
  </div>
  <ion-card class="historyTransaction">
    <ion-item class="list-ck title">
      <ion-row>
          <ion-col class="nma">
          <ion-icon name="ios-time-outline"></ion-icon>
          History Transaction
          </ion-col>
          <ion-col class="jml">
          </ion-col>
      </ion-row>
    </ion-item>

    <ion-item class="list-ck" *ngFor="let item of items">
      <button ion-button round (click)="toModal(item.id)" text-center item-end><ion-icon name="ios-mail-outline"></ion-icon></button>
      <h2 class="no">To : {{item.destination}} <span style="font-size:12px;">(<span *ngIf="item.type == 1">Application</span><span *ngIf="item.type == 2">Web Bonita</span><span *ngIf="item.type == 3">SMS</span>)</span></h2>
      <p class="txt" *ngIf="item.info == 4" style="white-space: normal;color:blue;">{{item.msg}}</p>
      <p class="txt" *ngIf="item.info == 5" style="white-space: normal;color:red;">{{item.msg}}</p>
      <p class="txt" *ngIf="item.info != 4" style="white-space: normal;color:green;">{{item.msg}}</p>
      <p class="tgl">{{item.date}}</p>
    </ion-item>
    <ion-item text-center style="text-align: center;"  *ngIf="count == 0;" >
     <span>No Transaction</span> 
    </ion-item>

</ion-card>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
