<ion-header>
  <ion-navbar>
    <ion-title *ngFor="let item of ldata">{{item.menu.nol.nama}}</ion-title>

     <ion-buttons end *ngFor="let item of ldata">
      <button (click)="logout()" ion-button icon-only>
        <ion-icon name="exit"></ion-icon>
        {{item.system.keluar}}
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
	<div class="head" text-center *ngFor="let item of ldata">
		<img style="height: 50px;" src="assets/imgs/tcel.png"/>
		<div class="judul">{{item.menu.nol.judul}}</div>
	</div>
  <form [formGroup]="f" (ngSubmit)="inTopup()" *ngFor="let item of ldata">
	<ion-item id="input" class="r-p">
		<ion-label floating>{{item.menu.nol.nomor}} :</ion-label>
		<ion-input type="number" formControlName="numeru"></ion-input>
	</ion-item>

		<ion-list>
			<ion-item class="r-p">
				<ion-label>{{item.menu.nol.pulsa}}</ion-label>
				<ion-select formControlName="pulsa">
					<ion-option *ngFor="let i of items" value="{{i.id}},{{i.denomination}},{{i.amount}},{{i.validity}}">{{i.nominal}} - ${{i.amount}}</ion-option>>
				</ion-select>
			</ion-item>
		</ion-list>
	<button ion-button block type="submit" [disabled]="!f.valid">{{item.menu.nol.nama}}</button>
 	
 	</form>
</ion-content>
