<!--
  Generated template for the IsiPulsaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Topup Pulsa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="todo">
  <ion-item  no-padding>
    <ion-label stacked>Nomor Handphone</ion-label>
    <ion-input type="number" formControlName="nomor" placeholder="070137XXX"></ion-input>
  </ion-item>
  <ion-row>
  	<ion-col col-12>
 		<div style="margin: 10px 0;">
 			Pilih Nominal :
 		</div>

    <ion-searchbar style="padding:0 0 16px;"
      [(ngModel)]="myInput"
      [ngModelOptions]="{standalone: true}"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
		
		<div *ngFor="let item of items">
			
 		<ion-card no-margin margin-bottom style="width:100%;border-radius: 4px;border-top: solid 2px  rgb(255, 154, 68);">
 			<ion-card-content no-padding>
				<ion-row>
					<ion-col col-12 style="border-bottom:solid 1px #DDD;">
            <ion-row>
              <ion-col col-6>
                <div class="txt-pulsa" style="font-size: 12px;">Pulsa</div>
                <div class="pulsa"><span style="font-size: 30px;font-weight: bold;">{{item.denomination}}</span> <span style="font-size: 15px">USD</span></div>
              </ion-col>
              <ion-col col-6>
                <div class="txt-pulsa" style="font-size: 12px;text-align:right;">Masa Aktif Diperpanjang</div>
                <div class="pulsa" text-right ><span style="font-size: 30px;font-weight: bold;">{{item.validity}}</span> <span style="font-size: 15px">Hari</span></div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12 style="border-bottom:solid 1px #DDD;" >
						<ion-row>
							<ion-col col-6 text-left><ion-icon name="ios-phone-portrait-outline"></ion-icon> Nominal Pulsa</ion-col>
							<ion-col col-6 text-right>{{item.denomination}} USD</ion-col>
						</ion-row>
					</ion-col>
					<ion-col col-12  style="border-bottom:solid 1px #DDD;" >
						<ion-row>
							<ion-col col-6 text-left><ion-icon name="ios-pricetag-outline"></ion-icon> Harga</ion-col>
							<ion-col col-6 text-right>${{item.amount}}</ion-col>
						</ion-row>
					</ion-col>
					<ion-col col-12 text-center>
						<button type="button" (click)="inTopup(item.id,item.denomination,item.amount,item.validity)" [disabled]="!todo.valid" ion-button block round style="background-image: linear-gradient(-20deg, rgb(252, 96, 118) 0%, rgb(255, 154, 68)">Buy</button>
					</ion-col>
				</ion-row> 				
 			</ion-card-content>
 		</ion-card>
		</div>

    <div *ngIf="info == 0;" style="background:#e90a0acc;color:#FFF;padding: 2px;text-align: center;">
     Data tidak Ada       
    </div>

  	</ion-col>
  </ion-row>

    </form>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="default"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
