<!--
  Generated template for the NewPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <form [formGroup]="f" (ngSubmit)="toInNewPassword()">
        <div text-center>
       <img  src="assets/imgs/psw.png" alt="icon">   
      </div>
       <h1 class="judul" text-center>Create New Password</h1> 
       <hr>
      <ion-item no-padding>
        <ion-label color="primary" stacked>New Password</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-label color="primary" stacked>Repeat Password</ion-label>
        <ion-input type="password" formControlName="newPassword" placeholder="Repeat Password"></ion-input>
      </ion-item>
      <button type="submit" margin-top ion-button  [disabled]="!f.valid" block >Submit</button>
      
    </form>
    </ion-col>
  </ion-row>
</ion-content>
