page-history {
	.judul{
		font-size:16px;
		font-wieght:bold;
	}
	.title-tgl{
		font-size:12px;
	}
	.tgl-form{
		font-size:14px;
		background:#DDD;
		color:#000;
		padding:10px;
		width:100%;
		text-align:center;
	}
	.strip{
		line-height: 61px;
		text-align: center;
		font-weight: bold;
	}

	 .historyTransaction {
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
    border:none;
    margin: 0px 7px;
	width: auto;
  }

  .bg{
   	 width:100%;
   	 min-height:100px;
   	 background:#ef2136;
   	 text-align:center;
   	  font-weight:bold;
   	  color:#FFF;
   }

   .bg .desc{
   	  font-size:11px;
   	  padding:8px;
   	  margin:0 ;
   	  background: #d01d30;
   }

   .bg .nominal{
   position:relative;
   top:10px;
   	font-size:2em;
   	 margin:0 ;
   }

   .list-ck{
   	border-bottom:solid 1px #DDD;
   }

   .list-ck .nma {
   	text-align:left;
   }

   .list-ck .jml{
   	text-align:right;
   	color:#888;
   }

   .list-ck .no{
   	color:#394237;
   	font-size:16px;
   	font-weight:bold;
   }

   .list-ck .txt{
   	color:green;
   	font-size:12px;
   }

   .list-ck .tgl{
   	font-size:10px;
   	color:#888;
   }

   .list-ck.title{
   	font-size:14px;
   	font-weight:bold;
   }
}
