<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>history</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-grid>
		<div class="headers">
		<ion-row>
			<ion-col col-12>
				<span class="judul">Riwayat Transaksi</span>
			</ion-col>

			<ion-col col-5>
			<div class="title-tgl">Dari</div>
			<div> <ion-datetime class="tgl-form" displayFormat="YYYY-MM-DD" [(ngModel)]="dari" pickerFormat="MM/DD/YYYY"></ion-datetime></div>
			</ion-col>

			<ion-col col-2 text-center >
				<span class="strip">-</span>
			</ion-col>

			<ion-col col-5>
				<div class="title-tgl">Sampai</div>
				<div><ion-datetime class="tgl-form" displayFormat="YYYY-MM-DD" [(ngModel)]="sampai" pickerFormat="MM/DD/YYYY"></ion-datetime></div>
			</ion-col>
		</ion-row>
		</div>
		<ion-row>
			<ion-col col-12 no-padding>
				<ion-card class="historyTransaction">
					<ion-item class="list-ck">
						<h2 class="no">70981762</h2>
						<p class="txt">Success transaction etopup pulsa : $20 USD</p>
						<p class="tgl">18/08/2018</p>
					</ion-item>
					<ion-item class="list-ck">
						<h2 class="no">90981762</h2>
						<p class="txt">Success transaction etopup pulsa : $20 USD</p>
						<p class="tgl">21/06/2018</p>
					</ion-item>
					<ion-item class="list-ck">
						<h2 class="no">88981762</h2>
						<p class="txt">Success transaction etopup pulsa : $20 USD</p>
						<p class="tgl">25/05/2018</p>
					</ion-item>
				</ion-card>
			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>
