<!--
  Generated template for the IsiPulsaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="background-image: linear-gradient(-20deg, rgb(252, 96, 118) 0%, rgb(255, 154, 68)">
    <ion-title>Paket data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="todo">
  <ion-item  no-padding>
    <ion-label stacked>Nomor Handphone</ion-label>
    <ion-input type="number" formControlName="nomor" placeholder="070137XXX"></ion-input>
  </ion-item>
  <ion-row>
  	<ion-col col-12>
 		<div style="margin: 10px 0;">
 			Pilih Paket Internet :
 		</div>

		<div *ngFor="let item of items">
			
 		<ion-card no-margin margin-bottom style="width:100%;border-radius: 4px;border-top: solid 2px rgb(255, 154, 68);">
 			<ion-card-content no-padding>
				<ion-row>
					<ion-col col-12 text-center style="border-bottom: solid 1px #DDD">
						<div style="font-size: 20px"><b>{{item.packagename}} {{item.quota}}</b></div>
						<!-- <div><b><span style="font-size: 20px;">{{item.quota}}</span></b></div> -->
					</ion-col>
					<ion-col col-12  style="border-bottom:solid 1px #DDD;" >
						<ion-row>
							<ion-col col-6 text-left> <ion-icon name="ios-pricetag-outline"></ion-icon> Harga</ion-col>
							<ion-col col-6 text-right>${{item.amount}}</ion-col>
						</ion-row>
					</ion-col>

					<ion-col col-12 style="border-bottom:solid 1px #DDD;" >
						<ion-row>
							<ion-col col-6 text-left><ion-icon name="ios-globe-outline"></ion-icon> Internet</ion-col>
							<ion-col col-6 text-right>{{item.quota}}</ion-col>
						</ion-row>
					</ion-col>
					
					<ion-col col-12  style="border-bottom:solid 1px #DDD;" >
						<ion-row>
							<ion-col col-6 text-left><ion-icon name="ios-alarm-outline"></ion-icon> Masa Aktif</ion-col>
							<ion-col col-6 text-right>{{item.validity}} DAY</ion-col>
						</ion-row>
					</ion-col>

					<ion-col col-12 text-center>
						<button type="button" (click)="inPaketData(item.profilename,item.packagename,item.amount,item.quota,item.validity)" [disabled]="!todo.valid" ion-button block round style="background-image: linear-gradient(-20deg, rgb(252, 96, 118) 0%, rgb(255, 154, 68)">Buy</button>
					</ion-col>
				</ion-row> 				
 			</ion-card-content>
 		</ion-card>
		</div>

    <div *ngIf="info == 0;" style="background:#e90a0acc;color:#FFF;padding: 2px;text-align: center;">
     Data tidak Ada       
    </div>

  	</ion-col>
  </ion-row>

    </form>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
