page-invoices {
    .invoice p{
        color :#488aff;
        font-size: 12px;
    }
    .komponen{
        padding: 10px;
        background: #DDD;
        color: #000;
        border-radius: 4px;
        border: solid 1px #bdbfc1;
    }
}
