<!--
  Generated template for the InvoicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Send Invoice</ion-title>
    <ion-buttons end>
    <button ion-button end (click)="close()">close</button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="invoice">
    <ion-row>
      <ion-col no-padding col-12>
        <ion-item no-padding>
        <ion-label color="primary" stacked>Nama Penerima</ion-label>
        <ion-input type="text" placeholder="Nama Penerima" [(ngModel)]="fnamapenerima"></ion-input>
      </ion-item>

      </ion-col>
      <ion-col no-padding col-12>
        <p>Nomor Penerima :</p>
        <div class="komponen">{{history.destination}}</div>
      </ion-col>
      <ion-col no-padding col-12>
        <p>Pesan :</p>
        <div class="komponen">
          {{history.msg}}
        </div>
      </ion-col>
      <ion-col no-padding col-12>
        <p>Tanggal :</p>
        <div class="komponen">
          {{history.date}}
        </div>
      </ion-col>
      <ion-item no-padding>
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input type="email" placeholder="Email" [(ngModel)]="femail"></ion-input>
        </ion-item>
      <ion-col no-padding col-12 margin-top="10">
        <button block ion-button (click)="sendInvoice(history.id)">Send Invoice</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
