<!--
  Generated template for the EditChildPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Downline</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="f" (ngSubmit)="upChild()" >
    <ion-item>
        <ion-label floating>Name *</ion-label>
        <ion-input type="text" formControlName="name"  formControlName="name" placeholder="Name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Contact Number </ion-label>
        <ion-input type="number" formControlName="contact_number" formControlName="contact_number" placeholder="Contact Number"></ion-input>
      </ion-item> 

      <ion-item>
        <ion-label floating>Agent Number *</ion-label>
        <ion-input type="number" formControlName="master_number" formControlName="agent_number" placeholder="Agent Number"></ion-input>
      </ion-item> 

      <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" formControlName="email" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>

      <button margin-top margin-bottom ion-button [disabled]="!f.valid" type="submit" block>  Edit</button>
    </form>
</ion-content>
