<ion-header>
  
  <ion-navbar>
    <ion-title>Balance Transfer</ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button icon-only>
        <ion-icon name="exit"></ion-icon>
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <ion-row> 
    <ion-col col-12 margin-top>
      <div class="head" text-center>
        <img style="height: 50px;" src="assets/imgs/tcel.png"/>
        <div class="judul">BALANCE TRANSFER</div>
      </div>
    </ion-col>
    <ion-col col-12 style="background: #f0f0f0;padding: 14px;border-top: solid 1px #DDD;border-bottom: solid 1px #DDD">
      <div class="ballance" padding>
        <ion-row>
          <ion-col col-6 text-left>SALDO</ion-col>
          <ion-col col-6 text-right>${{ballance}} USD</ion-col>
        </ion-row>
      </div>
    </ion-col>
    
    <ion-col col-12 padding>
      <form [formGroup]="f" (ngSubmit)="ballanceTransfer()">
        <div class="transfer">
          
          <ion-item no-padding>
            <ion-label>Mutation Type</ion-label>
            <ion-select formControlName="mt" (ionChange)="mt()">
              <ion-option value="1">Parent to Child</ion-option>
              <ion-option  *ngIf="ctid != 1" value="2">Child to Parent</ion-option>
              <!-- <ion-option value="3">Child to Child</ion-option> -->
            </ion-select>
          </ion-item>
           
          <ion-item no-padding *ngIf="formMt == 1">
              <ion-label>To</ion-label>
              <!-- <ion-label *ngIf="ctid == 2 || ctid == 3">From</ion-label> -->
              <ion-select formControlName="from" (ionChange)="selChild()">
                <ion-option *ngFor="let i of childs" value="{{i.idCh}},{{i.contact_number}}">{{i.contact_number}} - {{i.channel_name}}</ion-option>
              </ion-select>
          </ion-item>
          
          <ion-item no-padding *ngIf="formMt == 3">
              <ion-label>From</ion-label>
              <ion-select formControlName="from3" (ionChange)="selChild3()">
                <ion-option *ngFor="let i of childs" value="{{i.idCh}},{{i.contact_number}}">{{i.contact_number}} - {{i.channel_name}}</ion-option>
              </ion-select>
          </ion-item>

          <ion-item no-padding *ngIf="formMt == 2">
              <ion-label>To</ion-label>
              <ion-input type="text" readonly value="{{ch}}"></ion-input>
          </ion-item>

          <ion-item no-padding>
              <ion-label color="primary" stacked>Destination Number</ion-label>
              <ion-input type="number" ng-readonly="true" readonly formControlName="nomor" placeholder="Nomor Tujuan"></ion-input>
          </ion-item>
          <!-- M3 = 3 -->
          <ion-item no-padding  *ngIf="formMt == 3 ">
              <ion-label color="primary" stacked>Number From</ion-label>
              <ion-input type="number" ng-readonly="true" readonly formControlName="nomor" placeholder="Nomor Tujuan"></ion-input>
            </ion-item>

          <ion-item no-padding *ngIf="formMt == 3 ">
              <ion-label>To</ion-label>
              <ion-select formControlName="fromTo" (ionChange)="selChildTo()">
                  <ion-option *ngFor="let i of childs" value="{{i.idCh}},{{i.contact_number}}">{{i.channel_name}}</ion-option>
              </ion-select>
          </ion-item>

          <ion-item no-padding  *ngIf="formMt == 3 ">
              <ion-label color="primary" stacked>Number To</ion-label>
              <ion-input type="number" ng-readonly="true" readonly formControlName="nomorTo" placeholder="Nomor Tujuan"></ion-input>
            </ion-item>
          <!-- Tutup MT = 3 -->

          <ion-item no-padding>
            <ion-label color="primary" stacked>Jumlah</ion-label>
            <ion-input type="number" formControlName="jumlah" placeholder="Jumlah"></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-label color="primary" stacked>Deskripsi</ion-label>
            <ion-input type="text" formControlName="deskripsi" placeholder="Deskripsi"></ion-input>
          </ion-item>
        </div>
        <ion-col col-12>
          <button type="submit" no-padding ion-button block [disabled]="!f.valid">Kirim</button>
        </ion-col>
      </form>
    </ion-col>
    
  </ion-row>
</ion-content>
