page-transfer {
    background: #fafafa;

    .ballance{
        background: #FFF;
        border-radius: 4px;
        padding: 10px;
        border:solid 1px #DDD;
    }
    .head{
        padding-left: 10px;
        padding-right: 10px;
		padding-bottom:20px;	
	}
    .judul{
        text-transform:uppercase;
            font-size: 16px;
            font-weight: bold;
            color: #FFF;
            background: #f53d3d;
            padding: 8px;
            border: solid 1px #DDD;
        }
    
}
